#loading {
  /* background-color: #222; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  margin-top: 0;
  top: 0;
}

#loading p {
  margin: 100px auto;
  line-height: 100px;
  font-family: 'Meiryo UI', 'MicroHei', 'Microsoft YaHei UI';
  font-size: 18px;
  color: #9671d7;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -50px;
}

.loading-object {
  width: 20px;
  height: 20px;
  background-color: #9671d7;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  border-radius: 50% 50% 50% 50%;
}

#loading-object_one {
  animation: object_one 1.5s infinite;
}

#loading-object_two {
  animation: object_two 1.5s infinite;
  animation-delay: 0.25s;
}

#loading-object_three {
  animation: object_three 1.5s infinite;
  animation-delay: 0.5s;
}

@keyframes object_one {
  75% {
    transform: scale(0);
  }
}


@keyframes object_two {
  75% {
    transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
  }
}

.img_detail {
  margin: 0;
  overflow: hidden;
}

.img_detail.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 98%;
}

.img_detail .v-image {
  max-height: calc(100vh - 10px);
}

.img_detail_scale_on {
  width: auto !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.img_detail_scale_on .v-image {
  display: block;
  max-height: 100vh;
  margin: 0 auto;
}

.img_detail_scale_on .v-responsive__sizer,
.img_detail_scale_on .v-image__image {
  display: none;
}

.img_detail_scale_on .v-responsive__content {
  position: relative;
  width: auto !important;
  max-width: 100vw !important;
  max-height: 100vh;
  margin: 0 !important;
}

.img_scale_scroll {
  display: none;
}

.img_scale_scroll img {
  display: block;
  margin: 0 auto;
}

.img_detail_scale_on .img_scale_scroll {
  display: block;
  min-width: 500px;
  min-height: 500px;
  max-width: 100vw;
  max-height: calc(100vh - 10px);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar,
.img_scale_scroll::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.img_scale_scroll::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #fff;
  border-radius: 7px;
}

.theme--dark .nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb {
  border: solid 3px #363636;
}

.img_scale_scroll::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover,
.img_scale_scroll::-webkit-scrollbar-thumb:hover {
  background: black;
}

.theme--dark .nav_drawer .v-navigation-drawer__content::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.v-date-picker-table>table>thead>tr>th {
  padding: 0;
}

.v-date-picker-table>table>thead>tr>th:nth-child(1):before {
  content: '日';
}

.v-date-picker-table>table>thead>tr>th:nth-child(2):before {
  content: '一';
}

.v-date-picker-table>table>thead>tr>th:nth-child(3):before {
  content: '二';
}

.v-date-picker-table>table>thead>tr>th:nth-child(4):before {
  content: '三';
}

.v-date-picker-table>table>thead>tr>th:nth-child(5):before {
  content: '四';
}

.v-date-picker-table>table>thead>tr>th:nth-child(6):before {
  content: '五';
}

.v-date-picker-table>table>thead>tr>th:nth-child(7):before {
  content: '六';
}

.poa_left_center {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.poa_right_center {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.v-list-item__title.title {
  line-height: 1.2 !important;
}

.blacklist_combobox [role="combobox"] {
  padding: 0 !important;
}

.blacklist_combobox .v-chip {
  margin-bottom: 4px !important;
}
