a.thumb {
  border-bottom: 2px solid;
  border-color: #232322;
}

a.thumb:visited {
  border-color: #ffaaae;
}

#add-to-favs {
  zoom: 1.7;
  margin: 4px 0;
}

li.tag-type-artist a[href^="/post"]:not(.no-browser-link)::before {
  content: "[画师]";
}

li.tag-type-copyright a[href^="/post"]:not(.no-browser-link)::before {
  content: "[版权]";
}

li.tag-type-character a[href^="/post"]:not(.no-browser-link)::before {
  content: "[角色]";
}

li.tag-type-circle a[href^="/post"]:not(.no-browser-link)::before {
  content: "[社团]";
}

#post-list {
  display: flex;
}

#post-list .sidebar {
  float: none;
  width: auto;
}

#post-list .content {
  float: none;
  flex: 1;
  padding-right: 10px;
}

#post-list ul#post-list-posts {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#post-list ul#post-list-posts li {
  float: none;
  display: inline-block;
  margin: 0;
  transition: 0.2s ease-in-out;
}

#post-list ul#post-list-posts li[data-macy-complete="1"] img.preview {
  max-width: 100%;
}

#post-list ul#post-list-posts .inner {
  width: 100% !important;
  height: auto !important;
}

#post-list img.preview {
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 8px;
  border-radius: 5px;
  box-sizing: border-box;
}

#post-list a.directlink {
  margin-top: 5px;
}
