a.thumb {
  padding-bottom: 5px;
  border-bottom: 2px solid;
  border-color: #232322;
}

a.thumb:visited {
  border-color: #ffaaae;
}

#add-to-favs {
  zoom: 1.7;
  margin: 4px 0;
}

li.tag-type-artist a[href^="/post"]:not(.no-browser-link)::before {
  content: "[画师] ";
}

li.tag-type-copyright a[href^="/post"]:not(.no-browser-link)::before {
  content: "[版权] ";
}

li.tag-type-character a[href^="/post"]:not(.no-browser-link)::before {
  content: "[角色] ";
}

li.tag-type-circle a[href^="/post"]:not(.no-browser-link)::before {
  content: "[社团] ";
}

#post-list {
  display: flex;
}

#post-list .sidebar,
#post-popular .sidebar {
  float: none;
  width: auto;
  max-width: 240px;
}

#post-list .content,
#post-popular .content {
  float: none;
  flex: 1;
  padding-right: 10px;
}

#post-list ul#post-list-posts,
#post-popular ul#post-list-posts {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#post-popular ul#post-list-posts {
  width: 96vw;
}

#post-list ul#post-list-posts li,
#post-popular ul#post-list-posts li {
  float: none;
  display: inline-block;
  margin: 0;
  transition: 0.2s ease-in-out;
}

#post-list ul#post-list-posts li[data-macy-complete="1"] img.preview,
#post-popular ul#post-list-posts li[data-macy-complete="1"] img.preview {
  max-width: 100%;
}

#post-list ul#post-list-posts .inner,
#post-popular ul#post-list-posts .inner {
  width: 100% !important;
  height: auto !important;
}

#post-list img.preview,
#post-popular img.preview {
  width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

#post-list a.directlink,
#post-popular a.directlink {
  margin-top: 5px;
}

.mm-masonry {
  --gap: 24;
  --col-width: 240;
}

.mm-masonry {
  --_col-width: var(--col-width, 280);
  --_col-width-px: calc(var(--_col-width) * 1px);
  --_gap: calc(var(--gap, 20) * 1px);
  display: var(--display, grid) !important;
  grid-template-columns: repeat(auto-fill, minmax(var(--_col-width-px), 1fr));
  grid-auto-rows: 1px;
  column-gap: var(--_gap);
}

.mm-masonry__item {
  --img-proportional-height: calc(var(--h) * var(--_col-width) / (var(--w)));
  grid-row-end: span var(--img-proportional-height, 240);
  overflow: hidden;
}

.mm-masonry__item:not(:last-child) {
  margin-bottom: var(--_gap);
}

#post-list ul#post-list-posts .mm-masonry__item .inner,
#post-popular ul#post-list-posts .mm-masonry__item .inner {
  height: 100% !important;
}

.mm-masonry__img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.justified-container {
  display: flex !important;
  flex-wrap: wrap;
}

.justified-container::after {
  content: '';
  flex-grow: 999999999;
}

.justified-item {
  position: relative;
}

.justified-item img.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
